 <ngb-alert [type]="type" (close)="message='';type='';">{{ message }}</ngb-alert>

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <div class="first">
        <h2>Login</h2>
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="User Name" formControlName="userName">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Password" formControlName="passWord">
      </form>
  
      <!-- Footer -->
      <div id="formFooter">
        <input type="submit" class="fadeIn fourth" value="Log In" (click)="login()">
      </div>
  
    </div>
  </div>